* {
  -webkit-font-smoothing: antialiased;
}
#bodyWrap{
  position: relative;
  margin: 0 auto;
  display: block;
  width: 100%;
}
h1{
  text-align: center;
  font-size: 16px;
}
body, html {
  font-family: Courier, Helvetica, Arial, sans-serif;
  font-size: 10px;
  margin: 0 auto;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  color:#FFFFFF;
  background-color: #111111;
  overflow: hidden;
}
#canvasImg{
  display: block;
  margin: 0 auto;
  position: relative;
}
.font{
  display: none;
}
.label{
  float: left;
  display: block;
  width:85px;
  padding-right: 5px;
  margin-top: 6px;
  text-align: right;
}
.clearFloat{
  clear: both;
}
.selector{
  float: left;
  display: block;
  width:100px;
  padding-right: 0px;
  margin-top: 3px;
}
#formSubmitHolder{

  text-align: center; 
  
}
#formSubmit{
  background-color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
  height: 23px;
  width: 128px;
  border-width: 0px;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
}

#canvas{
    display:none;
}
textarea{
  text-align: center;
  border-color: #838383;
  border-radius: 2px;
  border:5px;
  background-color: #838383;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding:5px;
  width:250px;
  height:100px;
}
textarea, select{
  font-family: Helvetica, Arial, sans-serif;
  resize: none;
}
select{
  font-size: 10px;
  color:white;
  width:125px;
  border-radius: 0px;
  padding: 3px 5px;
  background-color: #838383;

  border:none;
  -webkit-appearance:none;

}
#formWrap{
  display: none;
  width:100%;
  top:20%;
  position:absolute;
}
#formHolder{
  border-radius: 5px;
  padding: 5px 10px 10px 10px;
  width:260px;

  margin-left:auto;
  margin-right:auto; 

  background-color: rgb(60, 60, 60);
  position:relative;
  display: block;
  margin-top:5px;
  display: block;
  margin: 0 auto;

}