* {
  -webkit-transform: translateZ(0px);
  -webkit-font-smoothing: antialiased;
}

body, html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  color:#FFFFFF;
}
.label{
  float: left;
  display: block;
  width:120px;
  padding-left: 10px;
}
.clearFloat{
  clear: both;
}
.selector{
  float: left;
  display: block;
  width:100px;
  padding-right: 0px;
}
#formSubmitHolder{

  text-align: center; 
  
}
#formSubmit{
  background-color: #838383;
  font-weight: bold;
  font-size: 14px;
  height: 26px;
  width: 106px;
  border-width: 0px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  margin-right: 5px;
}

#canvas{
    display:none;
}
#canvas{
    display:none;
}
#entry_text{
  width:310px;
  height:100px;
  resize: none;
}
#formWrap{
  width:640px;
  top:320px;
  position:absolute;
}
#formHolder{
  border-radius: 10px;
  padding: 10px;
  width:320px;

  margin-left:auto;
  margin-right:auto; 

  background-color: rgb(60, 60, 60);
  position:relative;
  display: block;
  margin-top:10px;
  display: block;
  margin: 0 auto;

}